<template>
  <div :class="['ball mt-1 mx-auto', color]"></div>
</template>
<script>
export default {
  props: {
    color: {
      type: String,
      requierd: true,
    },
  },
  methods: {
    select() {},
  },
};
</script>
<style scoped lang="scss">
.ball {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  position: absolute;
  transition: left 0.2s ease-in-out, bottom 0.2s, transform 0.2s;

  &:first-child {
    bottom: 0;
  }
  &:nth-child(2) {
    bottom: 27px;
  }
  &:nth-child(3) {
    bottom: 55px;
  }
  &:nth-child(4) {
    bottom: 83px;
  }
}
</style>