<template>
  <div class="ball-column-container fill-height">
    <div
      ref="column"
      :class="[
        'mx-auto d-flex align-center justify-end flex-column pt-3 ball-column',
        { selected },
      ]"
      @click="click"
    >
      <Ball v-for="(ball, i) in balls" :key="i" :color="ball" />
    </div>
  </div>
</template>

<script>
import Ball from "./Ball";
export default {
  props: {
    balls: {
      type: Array,
      requierd: true,
    },
    selected: {
      default: false,
      type: Boolean,
    },
    id: {
      type: [String, Number],
      requierd: true,
    },
  },
  components: { Ball },
  methods: {
    click() {
      const length = this.balls.length;
      const child = this.$refs.column.children[length - 1];
      const left = this.$refs.column.getBoundingClientRect().left;
      const top = this.$refs.column.getBoundingClientRect().top;
      this.$emit("click", this.id, length, left, top, child);
    },
  },
};
</script>

<style lang="scss" csoped>
.ball-column-container {
  min-height: 100px;
}
.ball-column {
  min-height: 110px;
  width: 34px;
  border: 2px solid var(--v-secondary-base);
  border-top: none;
  border-radius: 0 0 5px 5px;
  height: 100%;
  position: relative;
}
.selected {
  div:last-child {
    bottom: 110px !important;
  }
}
</style>