<template>
  <v-container class="fill-height align-start">
    <v-row class="pl-3">
      <v-col class="text-left secondary--text" cols="12" v-if="bestMoveRecord">
        <span>‌Best Move Record: {{ bestMoveRecord }}</span>
      </v-col>
      <v-col class="text-left secondary--text" cols="12">
        <span>Moves: {{ movesInTheLevel }}</span>
      </v-col>
    </v-row>
    <v-row class="my-auto">
      <v-col>
        <ul class="pl-0">
          <li
            v-for="(row, i) in rows"
            :key="i"
            class="mb-9 d-inline-flex align-center justify-center"
          >
            <ColumnOfBall
              :balls="row"
              :selected="selected === i"
              :id="i"
              @click="changeState"
            />
          </li>
        </ul>
      </v-col>
    </v-row>

    <v-dialog v-model="completed">
      <v-card class="py-6">
        <v-card-title class="justify-center py-3">
          <h1>completed</h1>
        </v-card-title>
        <v-card-actions class="justify-center mt-6">
          <v-btn @click="createColors" color="success">new game</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="exportModal">
      <v-card>
        <v-card-title> Export Board </v-card-title>
        <v-card-text>
          <v-text-field
            :value="exportTheBoard()"
            id="exportInput"
            readonly
            append-icon="mdi-copy"
          ></v-text-field>

          <v-btn @click="copyToClipboard">copy code to clipboard</v-btn>
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-dialog v-model="importModal">
      <v-card>
        <v-card-title> Import Board </v-card-title>
        <v-card-text>
          <v-text-field v-model="importInput"></v-text-field>

          <v-btn @click="importCode" :disabled="!importInput">import</v-btn>
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-btn
      color="light"
      fab
      bottom
      right
      fixed
      @click="undo"
      :disabled="undoDisable"
    >
      <v-icon>mdi-undo</v-icon>
    </v-btn>

    <v-snackbar v-model="snackbar" color="success">
      {{ snakbarText }}
    </v-snackbar>
  </v-container>
</template>

<script>
import ColumnOfBall from "./ColumnOfBall";
import { mapGetters, mapMutations } from "vuex";
export default {
  components: { ColumnOfBall },
  data: () => ({
    rows: [],
    colors: [
      "red",
      "blue lighten-2",
      "blue darken-4",
      "green darken-4",
      "green lighten-2",
      "black",
      "grey",
      "yellow",
      "orange",
      "pink lighten-3",
      "purple",
      "brown",
    ],
    selected: null,
    completed: false,
    Moves: [],
    p_left: 0,
    p_top: 0,
    elecmentToMove: null,
    exportModal: false,
    importModal: false,
    importInput: "",
    snackbar: false,
    snakbarText: "",
  }),
  mounted() {
    if (this.startRows.length === 0) this.createColors();
    else this.initRows(this.startRows);
  },
  watch: {
    rows(newVal) {
      this.completed = newVal.every((col) => {
        if (col.length === 0) return true;
        if (col.length < 4) return false;
        return Array(4).fill(col[0]).join("") === col.join("");
      });
    },
    completed(newValue) {
      if (newValue) {
        this.increaseCompletedGame();
        this.changeBestRecord(this.movesInTheLevel);
      }
    },
  },
  computed: {
    ...mapGetters([
      "numberOfCompletedGame",
      "themeIsDark",
      "movesInTheLevel",
      "bestMoveRecord",
      "startRows",
    ]),
    undoDisable() {
      return this.Moves.length === 0;
    },
  },
  methods: {
    ...mapMutations([
      "increaseCompletedGame",
      "increaseLevelMove",
      "resetLevelMove",
      "changeBestRecord",
      "setStartRows",
    ]),
    restartThisHand() {
      this.initRows(this.startRows);
    },
    createColors() {
      const all = [];
      this.colors.forEach((color) => {
        let tmp = Array(4).fill(color);
        all.push(...tmp);
      });
      const tmp = this.shuffle(all);
      this.setStartRows([...tmp]);
      this.initRows(tmp);
    },
    shuffle(arr) {
      arr.forEach((el, i) => {
        const rand = Math.trunc(Math.random() * arr.length);
        arr[i] = arr[rand];
        arr[rand] = el;
      });
      return arr;
    },
    initRows(arr) {
      this.resetLevelMove();
      this.rows = [];
      this.Moves = [];
      const tmpArr = Array.from(arr);
      const c = this.colors.length;
      for (let i = 1; i <= c; i++) {
        this.rows.push(tmpArr.splice(0, 4));
      }
      this.rows.push([]);
      this.rows.push([]);
    },
    changeState(row, length, left, top, child) {
      if (!row && row !== 0) return;
      else if (this.selected === row) this.selected = null;
      else if (this.selected === null || this.rows[row].length === 4) {
        this.selected = row;
        this.p_left = left;
        this.p_top = top;
        this.elecmentToMove = child;
      } else {
        const t = this.rows[this.selected].length;
        const Tstart = this.rows[this.selected][t - 1];
        const Tdist = this.rows[row][length - 1];
        if (!Tstart) {
          this.selected = row;
          this.p_left = left;
          this.p_top = top;
          this.elecmentToMove = child;
          return;
        } else if (Tstart === Tdist || !Tdist) {
          this.moveBall(this.selected, row, left, top, child);

          return;
        } else {
          this.selected = null;
        }
      }
    },
    undo() {
      this.increaseLevelMove();
      const { from, to } = this.Moves.pop();
      const newRows = Array.from(this.rows);
      newRows[from].push(newRows[to].pop());
      this.rows = newRows;
    },
    moveBall(from, to, newLeft, newTop) {
      this.increaseLevelMove();
      const transferX = newLeft - this.p_left;
      const transferY = newTop - this.p_top;
      this.elecmentToMove.style.transform = `translate(${transferX}px, ${transferY}px)`;

      setTimeout(() => {
        const newRows = Array.from(this.rows);
        newRows[to].push(newRows[from].pop());
        this.rows = newRows;
        this.Moves.push({ from, to });
        this.selected = null;
      }, 200);
    },
    openExportModal() {
      this.exportModal = true;
    },
    openImportModal() {
      this.importModal = true;
    },
    exportTheBoard() {
      const board = Array.from(this.startRows);
      const codedBoard = window.btoa(board.join("#"));
      return codedBoard;
    },
    copyToClipboard() {
      const el = document.querySelector("#exportInput");
      el.select();
      el.setSelectionRange(0, 99999);
      document.execCommand("copy");
      this.exportModal = false;
      this.snakbarText = "code copied to clipboard";
      this.snackbar = true;
    },
    importCode() {
      try {
        const decodedBoard = window.atob(this.importInput);
        let rows = decodedBoard.split("#");
        this.setStartRows(rows);
        this.initRows(rows);
        this.importModal = false;
        this.snakbarText = "Board Generated";
        this.snackbar = true;
      } catch (err) {
        this.$gtag.exception({
          description: err,
        });
      }
    },
  },
};
</script>

<style lang="scss" scoped>
ul {
  li {
    float: left;
    list-style: none;
    width: 14%;
    position: relative;
  }
}
</style>
