<template>
  <v-app>
    <v-app-bar app class="px-3 px-md-6" flat color="#fff0">
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-spacer></v-spacer>
    </v-app-bar>

    <v-main>
      <v-navigation-drawer app v-model="drawer">
        <v-list>
          <v-list-item @click="restartHand()">
            <v-list-item-icon><v-icon>mdi-restart</v-icon></v-list-item-icon>
            <v-list-item-content> Restart </v-list-item-content>
          </v-list-item>
          <v-list-item @click="newGame()">
            <v-list-item-icon>
              <v-icon>mdi-new-box</v-icon>
            </v-list-item-icon>
            <v-list-item-content> New Game </v-list-item-content>
          </v-list-item>
          <v-list-item @click="importBoard()">
            <v-list-item-icon>
              <v-icon>mdi-import</v-icon>
            </v-list-item-icon>
            <v-list-item-content> Import Board </v-list-item-content>
          </v-list-item>
          <v-list-item @click="exportBoard()">
            <v-list-item-icon>
              <v-icon>mdi-export</v-icon>
            </v-list-item-icon>
            <v-list-item-content> Export Board </v-list-item-content>
          </v-list-item>
          <v-list-item @click="helpModal = true">
            <v-list-item-icon>
              <v-icon>mdi-help-circle</v-icon>
            </v-list-item-icon>
            <v-list-item-content> Help </v-list-item-content>
          </v-list-item>
          <v-list-item>
            <v-list-item-icon>
              <v-icon color="black"> mdi-weather-night </v-icon>
            </v-list-item-icon>
            <v-list-item-content> Dark Mode </v-list-item-content>
            <v-list-item-action>
              <v-switch
                :value="themeIsDark"
                :input-value="themeIsDark"
                @change="toggleTheme"
                inset
              ></v-switch>
            </v-list-item-action>
          </v-list-item>
        </v-list>
      </v-navigation-drawer>
      <Table ref="table" />
    </v-main>

    <v-footer app>Completed Games: {{ numberOfCompletedGame }} </v-footer>

    <v-dialog fullscreen v-model="helpModal">
      <v-card class="fill-height">
        <v-card-title>
          ★ HOW TO PLAY:
          <v-spacer></v-spacer>
          <v-btn icon @click="helpModal = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text>
          <ul>
            <li
              v-for="(rule, i) in gameRules"
              :key="i"
              class="text-left body-1 mb-3"
            >
              {{ rule }}
            </li>
          </ul>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-app>
</template>

<script>
import { mapGetters, mapMutations } from "vuex";
import Table from "./components/table";
export default {
  name: "app",
  components: { Table },
  data: () => ({
    helpModal: false,
    gameRules: [
      "Tap any tube to move the ball lie on top in the tube to another tube.",
      `The rule is that you can only move a ball on top of another ball
        if both of them have the same color and the tube you want to move
        into has enough space.`,
      `Try not to get stuck - but don’t worry, you can always restart the
        level at any time.`,
    ],
    drawer: false,
  }),
  computed: {
    ...mapGetters(["themeIsDark", "numberOfCompletedGame", "movesInTheLevel"]),
  },
  mounted() {
    this.$vuetify.theme.dark = this.themeIsDark;
  },
  watch: {
    themeIsDark(newValue) {
      this.$vuetify.theme.dark = newValue;
    },
  },
  methods: {
    ...mapMutations(["toggleTheme"]),
    restartHand() {
      this.$refs.table.restartThisHand();
      this.drawer = false;
    },
    newGame() {
      this.$refs.table.createColors();
      this.drawer = false;
    },
    exportBoard() {
      this.$refs.table.openExportModal();
    },
    importBoard() {
      this.$refs.table.openImportModal();
    },
  },
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
<style lang="scss" scoped>
ul {
  li {
    /* list-style: none; */
    font-size: 16px;
  }
}
</style>
